# For stats notebooks
.ipynb_checkpoints/

# Temporary workspace files/folders for post-processing
Post-Process/*
!Post-Process/*.py
!Post-Process/*.sh

# SDSS Stripe-82
SDSS-Stripe82/SDSS_Stripe82_All.csv

# Gaia Stripe-82
Gaia-Stripe82/Gaia_Stripe82_All.csv

# Gaia-SDSS crossmatch filtration output
# SDSSxGaia/*/*
# !SDSSxGaia/SDSSxGaia_match_counts.png
# !SDSSxGaia/StatBatches/
# SDSSxGaia/Batches/*
# !SDSSxGaia/Batches/statbatch_count.sh
