# For stats notebooks
.ipynb_checkpoints/

# Temporary workspace files/folders for post-processing
Scripts/*
!Scripts/*.py
!Scripts/*.sh

# SDSS Stripe-82 catalog csv
SDSS-Stripe82/sdss_stripe82_all.csv

# Gaia Stripe-82 catalog csv
Gaia-Stripe82/gaia_stripe82_all.csv

# SDSS Spectro catalog csv
SDSS-Spectro/sdss_spectro_all.csv
