Gaia-Stripe82/.ipynb_checkpoints
SDSS-Stripe82/Doubles/__pycache__
SDSS-Stripe82/__pycache__
SDSS-Stripe82/Doubles/Data/.ipynb_checkpoints

SDSS-Stripe82/Doubles/*.log
SDSS-Stripe82/Doubles/FITS
SDSS-Stripe82/Doubles/Data/Mou/Cutouts

# The following are ignores from my Ubuntu system. Do not delete in
# future edits of the .gitignore file
SDSS-Stripe82/Doubles/SDSS_Cutouts
SDSS-Stripe82/Doubles/No_Stars

# Very large csv files
Stripe82_SDSSxGaia_Cleared_cood.csv
Stripe82_SDSSxGaia_Cleared_objid.csv
SDSS-Stripe82/SDSS_Stripe82_All.csv
